:root, [data-bs-theme=light] {
  --bs-secondary: #000000;
  --bs-secondary-rgb: 0,0,0;
  --bs-secondary-text-emphasis: #000000;
  --bs-secondary-bg-subtle: #CCCCCC;
  --bs-secondary-border-subtle: #999999;
  --bs-dark: #343a40;
  --bs-dark-rgb: 52,58,64;
  --bs-dark-text-emphasis: #15171A;
  --bs-dark-bg-subtle: #D6D8D9;
  --bs-dark-border-subtle: #AEB0B3;
  --bs-link-hover-color: #09468e;
  --bs-link-hover-color-rgb: 9,70,142;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 217,217,217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000000;
  --bs-btn-disabled-border-color: #000000;
}

.btn-outline-secondary {
  --bs-btn-color: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 0,0,0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #000000;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #343a40;
  --bs-btn-border-color: #343a40;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2C3136;
  --bs-btn-hover-border-color: #2A2E33;
  --bs-btn-focus-shadow-rgb: 225,225,226;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2A2E33;
  --bs-btn-active-border-color: #272C30;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #343a40;
  --bs-btn-disabled-border-color: #343a40;
}

.btn-outline-dark {
  --bs-btn-color: #343a40;
  --bs-btn-border-color: #343a40;
  --bs-btn-focus-shadow-rgb: 52,58,64;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #343a40;
  --bs-btn-hover-border-color: #343a40;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #343a40;
  --bs-btn-active-border-color: #343a40;
  --bs-btn-disabled-color: #343a40;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #343a40;
}

